@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --primary-color: #553336;
  --secondary-color: #E0EFE7;
  --text-color-light: #ffffff;
  --text-color-dark: #000000;
  --detail-color: #497779;
  --detail-color-dark: #2f4f4f;
  --detail-color-hover: #5e9093;

  --font-normal: 400;
  --font-bold: 700;
  --font-bolder: 900;

  --tam-size-1: 8px;
  --tam-size-1-2: 10px;
  --tam-size-1-3: 12px;
  --tam-size-1-4: 14px;
  --tam-size-2: 16px;
  --tam-size-3: 24px;
  --tam-size-4: 32px;
  --tam-size-5: 40px;
  --tam-size-6: 48px;
  --tam-size-7: 56px;
  --tam-size-8: 64px;
  --tam-size-9: 72px;
  --tam-size-10: 80px;
  --tam-size-11: 88px;
  --tam-size-12: 96px;
  --tam-size-13: 104px;
  --tam-size-14: 112px;
  --tam-size-15: 120px;
  --tam-size-16: 128px;
  --tam-size-17: 136px;
  --tam-size-18: 144px;
  --tam-size-19: 152px;
  --tam-size-20: 160px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Lato", sans-serif;
  font-weight: var(--font-normal);
}

h1 {
  font-size: var(--tam-size-6);
  font-weight: var(--font-bolder);

  margin-bottom: var(--tam-size-2);

  @media (max-width: 1100px) {
    font-size: var(--tam-size-5);
  }

  @media (max-width: 900px) {
    font-size: var(--tam-size-4);
  }

  @media (max-width: 700px) {
    font-size: var(--tam-size-3);
  }
}

h2 {
  font-size: var(--tam-size-4);
  font-weight: var(--font-bolder);

  margin-bottom: var(--tam-size-1);

  @media (max-width: 1100px) {
    font-size: var(--tam-size-3);
  }

  @media (max-width: 700px) {
    font-size: var(--tam-size-2);
  }
}

h3 {
  font-size: var(--tam-size-3);
  font-weight: var(--font-bold);

  margin-bottom: var(--tam-size-1);

  @media (max-width: 1100px) {
    font-size: var(--tam-size-2);
  }

  @media (max-width: 700px) {
    font-size: var(--tam-size-1-4);
  }
}

p {
  font-size: var(--tam-size-2);
  margin-bottom: var(--tam-size-1);

  max-width: 700px;

  @media (max-width: 1100px) {
    font-size: var(--tam-size-1-4);
  }

  @media (max-width: 700px) {
    font-size: var(--tam-size-1-3);
  }
}

a {
  text-decoration: none;
  color: inherit;

  font-size: var(--tam-size-2);
  font-weight: var(--font-bolder);

  @media (max-width: 700px) {
    font-size: var(--tam-size-1-4);
  }

  @media (max-width: 650px) {
    font-size: var(--tam-size-1-3);
  }
}

button {
  display: flex;
  align-items: center;

  cursor: pointer;

  background-color: var(--detail-color);
  color: var(--text-color-light);

  padding: var(--tam-size-1) var(--tam-size-2);
  border: none;
  border-radius: var(--tam-size-1);

  &:hover {
    background-color: var(--detail-color-hover);
  }

  a {
    font-weight: var(--font-normal);
  }
}

ul {
  list-style: none;
}

section,
footer {
  padding: var(--tam-size-8) min(5%, var(--tam-size-13));
}

header {
  padding: var(--tam-size-1) min(5%, var(--tam-size-13));

  nav {
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;

      @media (max-width: 650px) {
        justify-content: space-between;
      }

      li {
        a {
          font-size: var(--tam-size-3);
          font-weight: var(--font-bold);

          @media (max-width: 650px) {
            font-size: var(--tam-size-2);
          }

          transition: 0.3s;

          &:hover {
            color: var(--detail-color);
          }
          img {
            width: var(--tam-size-10);
            height: auto;

            object-fit: cover;
          }
        }
      }
    }
  }
}

main {
  #hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    background-color: var(--secondary-color);

    padding: var(--tam-size-14) min(5%, var(--tam-size-13));

    @media (max-width: 700px) {
      padding: var(--tam-size-10) min(5%, var(--tam-size-13));
    }

    h1 {
      max-width: 750px;
      margin-bottom: var(--tam-size-3);

    }

    p {
      margin-bottom: var(--tam-size-5);
    }
  }

  #differences {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    gap: var(--tam-size-3);

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      gap: var(--tam-size-3);

      max-width: 800px;
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;

        gap: var(--tam-size-2);

        width: 250px;
        height: 250px;

        padding: var(--tam-size-2);

        border: 1px solid var(--detail-color);
        border-radius: var(--tam-size-2);

        @media (max-width: 600px) {
          width: 200px;
          height: 200px;

          padding: var(--tam-size-1);
        }

        span {
          img {
            @media (max-width: 700px) {
              width: 32px;
              height: 32px;
            }
          }
        }
      }
    }
  }

  #request {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    background-color: var(--secondary-color);
    gap: var(--tam-size-10);
    div {
      max-width: 600px;

      display: flex;
      flex-direction: column;
      align-items: start;

      gap: var(--tam-size-2);
      ul {
        display: flex;
        flex-wrap: wrap;

        gap: var(--tam-size-3);
        li {
          p {
            display: flex;
            align-items: center;

            gap: var(--tam-size-1);
          }
        }
      }
    }
    #main-img {
      width: 450px;
      height: 550px;

      object-fit: cover;

      border-radius: var(--tam-size-2);

      cursor: zoom-in;

      @media (max-width: 1256px) {
        width: 350px;
        height: 450px;
      }

      @media (max-width: 1000px) {
        width: 300px;
        height: 400px;
      }

      @media (max-width: 400px) {
        width: 250px;
        height: 350px;
      }
    }
  }

  #products {
    display: flex;
    flex-direction: column;
    align-items: start;

    gap: var(--tam-size-3);

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      gap: var(--tam-size-3);
      li {
        figure {
          position: relative;
          overflow: hidden;
          border-radius: var(--tam-size-1);

          img {
            width: 150px;
            height: 150px;
            transition: transform 0.3s ease;
            object-fit: cover;

            cursor: zoom-in;

            &:hover {
              transform: scale(1.2);
              border-radius: var(--tam-size-1);
            }
          }
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  gap: var(--tam-size-4);

  height: max-content;

  padding-bottom: var(--tam-size-14);
  padding-top: var(--tam-size-10);

  background-color: var(--detail-color-dark);
  color: var(--text-color-light);

  article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: var(--tam-size-4);

    button {
      a {
        display: flex;
        align-items: center;

        gap: var(--tam-size-1);
      }
    }
  }
}
